
body {
	background: #f8f8f8;
}
.container {
	width: 960px;
	margin: 0 auto;
}
header {
	height: 200px;
	background: url(imd/fon.jpg) no-repeat center bottom;
}
footer {
	height: 70px;
	background: #e2e2f7;
}
footer p {
	margin: 20px 50px 0 0;
	text-align: right;
}
hr {
	margin-top: 0;
	margin-bottom: 0;
}
h1,
.information h2 {
	text-align: center;
	font-size: 60px;
	letter-spacing: 2px;
	font-family: "Courier";
	border-radius: 50%;
	color: red;
}
.text {
	background: #ee92926c;
	text-align: center;
	font-size: 20px;
	border-radius: 30%;
}
.logotip {
	width: 180px;
	margin: 10px 0 0 25px;
	float: left;
}
.clearfix {
	clear: both;
}
.menu {
	list-style-type: none;
	padding: 0;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
}
.menu a {
	font-weight: normal;
	font-size: 18px;
	color: #ffffff;
	text-decoration: none;
	background-color: #1011115b;
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 40px;
}
.menu li {
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	background-color: #0b0e0dc5;
	display: block;
	width: 33%;
	text-align: center;
	line-height: 40px;
	border: 1px solid #f8f8f8;
	margin-top: 65px;
}
.menu a:hover {
	background-color: #f0999986;
	color: #000000;
}
.container_catalog {
	display: flex;
	justify-content: space-between;
}
.product h2 {
	color: #000000;
	font-size: 18px;
	font-weight: 400;
	background: #eaeaea;
	text-align: center;
}
.product .description {
	font-size: 16px;
	line-height: 24px;
	color: #484343;
	font-weight: 400;
	text-align: left;

}
.product .shortdescription {
	font-size: 14px;
	line-height: 16px;
	color: #707070;
	font-style: italic;
	text-align: center;
}
.product figure p:first-letter {
	color: #03c03c;
	font-size: 26px;
}
.product .characteristic {
	font-size: 18px;
	line-height: 20px;
	color: #2F4F4F;
	font-weight: 500;
}
.product_img {
	border: solid;
	border-color: #cacd58 #5faf8a #b9cea5 #aab238;
	float: left;
}
.product_img:hover {
	border: none;
	margin: 3px;
}
.buy input[type="submit"] {
	width: 150px;
	height: 60px;
	border: 1px solid transparent;
	background-color: #7fc7ff;
	font-size: 18px;
	text-transform: uppercase;
	color: #ffff00;
	font-weight: bold;
	border-radius: 5px;
	outline: none;
	margin: 150px 0 0 285px;
}
.buy input[type="submit"]:hover {
	background-color: #0bda51;
	color: black;
}
.buy input[type="submit"]:active {
	background-color: #66ff00;
}
.feedback fieldset {
	border: solid;
	border-color: #5faf8a;
}
.feedback legend {
	font-size: 19px;
	line-height: 16px;
	color: #707070;
	font-style: italic
}
.feedback input[type="text"],
.feedback input[type="email"] {
	width: 200px; height: 25px;
	border-width: 1px;
	border-color: #5faf8a #b9cea5;
	font-size: 14px;
	color: #002868;
}
.feedback textarea {
	border: outset;
	border-width: 1px;
	border-color: #5faf8a #b9cea5;
	width: 370px; height: 150px;
}
.feedback .box {
	margin-bottom: 5px;
}
.feedback input[type="email"]:focus {
	color: #0000ff;
	background-color: #e0ffff;
}
.feedback input[type="text"],
.feedback textarea {
	text-transform: capitalize;
}
/* ::placeholder с одним двоеточием не работатет!
Валидацию не проходит, так как этот псевдоэлемент
есть только в сырой версии спецификации,
НО ПОДДЕРЖИВАЕТСЯ ВСЕМИ БРАУЗЕРАМИ*/
.feedback input[type="text"]::placeholder,
.feedback textarea::placeholder {
	text-transform: none;
}
.map {
	width: 100%;
	height: 374px;
}
.container_catalog p a:visited {
	color: #228b22;
}
table,
td,
th {
	border: 1px solid black;
}
table {
	border-collapse: collapse;
}
caption {
	font-size: 18px;
}
td,
th {
	width: 150px;
	height: 30px;
	text-align: center;
}
th {
	background: #c6f5f0;
}
td {
	background: #f2fcfb;
}
thead tr{
	height: 50px;
}